<div class="header_bottom">
	<div class="container">
		<h1>September 16th Career fair signup</h1> 
	</div>
</div>
<div class="container">
	<div class="col-xs-8">
		<iframe src="https://docs.google.com/forms/d/1AX1oUmd9HomCtud6BwnRFLli_1ZdUuRKsB9-DjTOPh8/viewform?embedded=true" width="720" height="1050" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</div>
	<div class="col-xs-4">
		<%= image_tag("Career-Fair-ad-web.png", class:"img-responsive") %>

		<%= link_to "http://www.cs.uh.edu/industry-opps/career-fair/registration/index.php" do %>
			<%= image_tag("Cougarcs-recruitment.jpg", class:"img-responsive") %>
		<% end %>
		
	</div>

</div>