<div class="header_bottom">
	<div class="container">
		<h1>Tutoring & Workshops This Week</h1> 
	</div>
</div>






<div class="container">


<%= link_to "Manage sessions", tutoring_teachers_path , class:"btn btn-lg btn-default" if current_member &&current_member.tutor %>
<br>
<br>

<% @tutors.group_by(&:date).each do |day, tutor| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= day.strftime("%a %D") %>
		</div>
		<ul class="list-group" >
			<% tutor.each do |tut| %>
				<li class="list-group-item">
						<h3><%= tut.member_name %></h3>
						<p><%= tut.note %></p>
				</li>
			<% end %>
		</ul>
	</div>

<% end %>


		

</div>