<!DOCTYPE html>
<html>
<head>
  <title>CsSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header_top">
	<div class="container">
		<div class="top-nav">
					<span class="menu">Menu</span>
					<ul>
						<li class="active"><a href="index.html"><span data-hover="Home">Home</span></a><label> </label></li>
						<li><a href="about.html"> <span data-hover="About">About</span></a><label> </label></li>
						<li><a href="contact.html"><span data-hover="Contact">Contact</span></a><label> </label></li>
					</ul>

		</div>
	</div>
</div>

<%= yield %>

</body>
</html>
